@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 30% 15% 1fr;
  background-color: var(--black);
  align-items: center;
  z-index: 100;
}

header h1 {
  font-family: "Dancing Script", serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

#createTaskButton {
  height: fit-content;
  background-color: var(--gray);
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.6rem;
  text-align: center;
}

header img {
  width: 4rem;
  justify-self: end;
}

main {
  padding: 1rem;
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.taskContainer {
  width: 100%;
  height: fit-content;
  background-color: var(--gray);
  border-radius: 0.7rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--black);
  gap: 0.5rem;
  transition: 0.5s;
}

.taskContainer:hover {
  transform: scale(1.05);
}

.taskContainer h2 {
  color: var(--black);
}

.taskContainer p {
  text-align: center;
  font-size: 1.2rem;
}

.dataDisplay {
  font-weight: bold;
  color: var(--black);
}

.taskButtons {
  margin-top: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkboxContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.deleteContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deleteButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#deleteButton img {
  width: 40px;
}

#taskCheckbox {
  width: 20px;
  height: 20px;
}

.checkboxContainer label {
  font-size: 1.2rem;
  font-weight: bold;
}
